body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  width: 80%;
  margin: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar{
  display: flex;
  justify-content: flex-end !important;
  padding: 10px 20px;
  background-color: rgb(0,64,128);
  gap: 10px;
}

.navbar > button{
  cursor: pointer;
  color: rgb(188, 223, 255);
  padding: 5px 20px;
  background-color: rgb(0,64,128);
  border: none;
  font-size: 16px;
  color: white;
}

.createCart{
  width: max(40%, 300px);
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 40px;
  margin: auto;
  margin-top: 20px;
}

.cart-container{
  display: grid;
  grid-template-columns: repeat(2,49%);
  width: 90%;
  margin: 60px auto;
  justify-content: center;
  align-items: center;
  gap: 26px;
}

.cart{
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px solid black;
  margin: 2px;
  padding: 10px;
  min-height: 200px;
}

.cart > h2{
  margin: 0;
}

.filter-container{
  display: flex;
  gap: 20px;
  width: 90%;
  margin: 40px auto;
}